<form method="POST" action="/admin/produkty/nowy">
    <input placeholder="Nazwa" type="text" name="name"  />
    <input placeholder="Opis" type="text" name="desc"  />
    <input placeholder="Cena" type="text" name="price"  />
    <input type="submit" value="Zapisz" />
</form>
