default:
    filters:
        tags: "~@wip"
    formatter:
        name: progress
    paths:
        features: features
    context:
        class:  Context\FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            goutte: ~
            default_session: goutte
            base_url: http://localhost:8000/test.php
